<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{HTTP_HOST} ^zoomin.id [NC] 
RewriteRule ^(.*)$ https://www.zoomin.id/$1 [L,R=301,NC] 
RewriteCond %{HTTP_HOST} ^http://zoomin.id [NC] 
RewriteRule ^(.*)$ https://www.zoomin.id/$1 [L,R=301,NC] 
RewriteCond %{HTTP_HOST} ^http://zoomin.id/blog/wp-login.php?redirect_to=http%3A%2F%2Fzoomin.id%2Fblog%2Fwp-admin%2F&reauth=1 [NC] 
RewriteRule ^(.*)$ https://zoomin.id/blog/wp-login.php?redirect_to=http%3A%2F%2Fzoomin.id%2Fblog%2Fwp-admin%2F&reauth=1 [L,R=301,NC] 
RewriteCond %{HTTP_HOST} ^https://web.facebook.com/zoomin.id/ [NC] 
RewriteRule ^(.*)$ https://www.facebook.com/zoomin.id/?_rdc=1&_rdr [L,R=301,NC] 
RewriteCond %{HTTP_HOST} ^https://zoomin.id/blog/wp-admin/ [NC] 
RewriteRule ^(.*)$ http://zoomin.id/blog/wp-login.php?redirect_to=http%3A%2F%2Fzoomin.id%2Fblog%2Fwp-admin%2F&reauth=1 [L,R=301,NC] 
RewriteCond %{HTTP_HOST} ^https://gravatar.com/ [NC] 
RewriteRule ^(.*)$ https://en.gravatar.com/ [L,R=301,NC] 
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>
## EXPIRES CACHING ##
<IfModule mod_expires.c>
ExpiresActive On
ExpiresByType image/png "access plus 1 month"
ExpiresByType text/css "access plus 1 month"
ExpiresByType text/x-javascript "access plus 1 month"
ExpiresByType image/x-icon "access plus 1 year"
ExpiresDefault "access plus 2 days"
</IfModule>
## EXPIRES CACHING ##+